@import "./Variables.css";
@import './Font.css';
@import './top_bar.css';
@import './Navbar.css';
@import './Defaults.css';
@import './Footer.css';
@import './Product-box.css';
@import './Paganation.css';
@import './Breadcrumb.css';
@import './helpers.css';

:root {
    --primery-font: 'Sahel';
    --primary-color: rgba(222, 211, 200, 0.5);
    --primary-color2: rgba(118, 96, 76, 0.5);
    --primary-color3: rgba(62, 56, 51, 0.5);
    --primary-color4: #c3a883;
    --primary-gold1: #FFDE2E;
    --primary-gold2: #FFD700;
    --primary-gold3: #D1B000;
    --primary-gold4: #A38A00;
    --primary-gold5: #756300;
    --white-color: #fff;
    --dark-color: black;
}

/* Start Product Top Bar Style */

.products {
    margin: 4rem 0;
}

.product-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
    border-bottom: 2px solid var(--primary-color);
}

.product-top-bar__right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.product-top-bar__icon--active {
    color: var(--primary-color4);
}

.product-top-bar__icon {
    width: 15px;
    height: 15px;
    margin: 0 1rem;
}

.product-top-bar__selection {
    cursor: pointer;
    position: relative;
}

.product-top-bar__selection-title {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.product-top-bar__selection-title:hover {
    color: var(--primary-color4);
}


.product-top-bar__selection-icon {
    margin-right: 0.5rem;
}

.product-top-bar__selection-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 0.3rem 0.3rem;
    background-color: var(--white-color);
    width: 100%;
    padding: 0.8rem 0 ;
    z-index: 9999;
    transition: all 400ms ease;
}

.product-top-bar__selection:hover .product-top-bar__selection-list{
    visibility: visible;
    opacity: 1;
    margin-top: 1.5rem;
}

.product-top-bar__selection-item {
    font-size: 1.2rem;
    padding: 0.9rem 1.4rem;
    transition: all 400ms ease;
}

.product-top-bar__selection-item:hover {
    color: var(--primary-color4);
}

.product-top-bar__selection-item--active {
    color: var(--primary-color4);
}

.product-top-bar__form {
    position: relative;
    width: 30rem;
}

.product-top-bar__input {
    font-size: 1.2rem;
    width: 100%;
    /* border-bottom: 1px solid rgba(195, 168, 131, 0.5); */
    padding: 0.8rem 1.5rem 0.8rem 4.2rem;
}

.product-top-bar__search-icon {
    position: absolute;
    left: 1.5rem;
    top: 1.2rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.product-content .container {
    margin: 4rem 0;
}


/* Finish Product Top Bar Style */