@import "./Variables.css";
@import './Font.css';
@import './top_bar.css';
@import './Navbar.css';
@import './Defaults.css';
@import './Footer.css';
@import './Product-box.css';
@import './Paganation.css';
@import './Breadcrumb.css';
@import './helpers.css';


:root {
    --primery-font: 'Sahel';
    --primary-color: rgba(222, 211, 200, 0.5);
    --primary-color2: rgba(118, 96, 76, 0.5);
    --primary-color3: rgba(62, 56, 51, 0.5);
    --primary-color4: #c3a883;
    --primary-gold1: #FFDE2E;
    --primary-gold2: #FFD700;
    --primary-gold3: #D1B000;
    --primary-gold4: #A38A00;
    --primary-gold5: #756300;
    --white-color: #fff;
    --dark-color: black;
}
/* Start Breadcrumb Style */
.breadcrumb {
    margin: 4rem 0;
}

.breadcrumb__list {
    display: flex;
    align-items: center;
}

.breadcrumb__link {
    margin: 0 2rem;
    font-size: 1.2rem;
}
/* Finish Breadcrumb Style */

/* Start Product Main Info style */
.product-info {
    padding: 4rem 0;
    border-bottom: 1px solid var(--primary-color);
}

.product-info__full-img__item {
    height: 600px;
    border-radius: 0.5rem;
}

.product-info__min-img__item {
    width: 110px;
    height: 100px;
    margin-left: 1.7rem;
    border-radius: 0.5rem;
}

.product-info__title {
    font-size: 4rem;
}

.product-info__discription {
    font-size: 1.3rem;
    color: #898989;
    margin-bottom: 2rem;
}

.product-info__price {
    font-size: 2rem;
}

.product-info__information-text {
    line-height: 3rem;
    font-size: 1.3rem;
    list-style: disc;
    list-style-position: inside;
}

.product-info__weight-text {
    font-size: 1.3rem;
    margin-left: 4rem;
}

.product-info__weight {
    margin-top: 2rem;
}

.product-info__weight-list {
    width: 400px;
    height: 35px;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    color: #898989;
    border-radius: 0.3rem;
}

.product-info__update-price,
.product-info__update-weight {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.product-info__update-price-text,
.product-info__update-weight-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 2.5rem;
}

.product-info__update-price-num,
.product-info__update-weight-num {
    font-style: 1.3rem;
}

.product__sell {
    width: 150px;
    height: 40px;
    font-size: 1.3rem;
    margin-top: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--primary-color);
}

.details__title {
    margin-top: 1.5rem;
    font-size: 1.7rem;
}

.detail__item {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--primary-color);
}

.detail__item-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 2rem;
}

.detail__item-text {
    font-size: 1.3rem;
    color: #898989;
}
/* Finish Product Main Info style */

/* Start Popular Product Style */

.Similar {
    margin: 4rem 0;
    background-color: rgba(222, 211, 200, 0.2);
    height: 580px;
}

.Similar__header {
    display: flex;
    flex-direction: column;
}

.Similar-header__title {
    margin-top: 1.2rem;
}

.Similar-header__text {
    color: #5c5b5b;
    margin-bottom: 20px;
}

.Similar__slider .product-box__img {
    height: 70%;
}

.Similar__slider .product-box {
    height: 450px;
    margin: 0 1.3rem;
    box-shadow: 0 0 10px rgba(168, 172, 185, 0.3);
} 

.Similar__slider .product-box:hover {
    transform: none;
}

/* Finish Popular Product Style */

/* Start Helper Class */

.title {
    font-size: 1.7rem;
    color: black;
    /* font-weight: bold; */
    line-height: 1.2;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    background-color: rgba(195, 168, 131, 0.3);
    border-radius: 0.5rem;
    /* transform: rotate(8deg); */
}

.title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    height: 50%;
    background-color: rgba(195, 168, 131, 0.2);
}

/* Finish Helper Class */

